header {
    height: 100vh;
    
    .headerContent {
        display: flex;
        height: 90vh;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        
        h2 {
            margin-top: 40px;
        }

        p {
            margin-top: 40px;
            font-size: 2.5rem;
        }
    }

}