/****************************
* About Section Styles
****************************/

.aboutContainer {
    background-color: $aboutColor;
    display: flex;
    margin: 50px 0;
    align-items: center;
    
    .aboutImage {
        width: 25%;
        border-radius: 10px;
        -webkit-box-shadow: 3px 3px 5px 6px #ccc; 
        -moz-box-shadow: 3px 3px 5px 6px #ccc;
        box-shadow: 3px 3px 5px #ccc;
        img {
            border-radius: 10px;
        }
    }

    .aboutInfo {
        margin-left: 50px;
        width: 50%;
        p {
            margin-top: 30px;
            padding-left: 30px;
        }
    }
}

/****************************
* Skills Section Styles
****************************/
.skillSet {
    background-color: $skillsColor;
    color: #fff;
    
    h1 {
        padding-top: 30px;
        margin-bottom: 50px;
    }
}

.skillsIcons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
    .icon {
        padding-bottom: 30px;
        text-align: center;
        margin: 2%;
        width: calc((100%/4) - 4%);
    }

    span {
        font-size: 5rem;
        text-align: center;
    }

    p {
        margin-top: 10px;
    }
    
}

/****************************
*  Work Section Styles
****************************/

.myWork {
    background-color: $workColor;
    margin-top: 30px;
    
    .card {
        display: flex;
        padding: 25px 0;

        .portfolioImage {
            width: 100%;
            padding: 5px;
            border-radius: 10px;
            -webkit-box-shadow: 3px 3px 5px 6px #ccc; 
            -moz-box-shadow: 3px 3px 5px 6px #ccc;
            box-shadow: 3px 3px 5px #ccc;
            img {
                border-radius: 5px;
            }
        }

        .portfolioDescription {
            width: 100%;
            padding-left: 25px;

            p {
                margin-top: 30px;
            }
            
            .projectLinks {
                margin-top: 30px;
                a {
                    font-size: 1.5rem;
                    font-weight: 300;
                    margin-right: 20px;
                    border: 1px solid black;
                    padding: 10px 15px;
                    border-radius: 5px;
                    transition: all 0.3s ease-in-out;
                    &:hover,
                    &:focus {
                        -webkit-transition: all 0.3s ease-in-out;
                        -moz-transition: all 0.3s ease-in-out;
                        -o-transition: all 0.3s ease-in-out;
                        -ms-transition: all 0.3s ease-in-out;
                        transition: all 0.3s ease-in-out;
                        background-color:#D64933;
                        border: 1px solid #D64933;
                    }  
                }
            }
        }
    }
}

/****************************
* Contact Section Styles
****************************/

.contactMe {
    background-color: $contactColor;
    padding: 50px 0;
}

form {
    padding: 30px 0;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    .nameInput,
    .emailInput {
        width: calc(50% - 10px);
        border: none;
        height: 50px;
        padding: 10px;
    }

    .nameInput {
        margin-right: 20px;
    }

    .subjectInput,
    .messageInput {
        width: 100%;
        margin-top: 20px;
        border: none;
        padding: 10px;
    }

    .messageInput {
        height: 150px;
        resize: none;
    }

    input[type=text], textarea {
        -webkit-transition: all 0.30s ease-in-out;
        -moz-transition: all 0.30s ease-in-out;
        -ms-transition: all 0.30s ease-in-out;
        -o-transition: all 0.30s ease-in-out;
        transition: all 0.30s ease-in-out;
        outline: none;
    }

    input[type=text]:focus, textarea:focus {
        box-shadow: 0 0 3px #D64933;
        border: 1px solid black;
    }

}

.sendForm {
    padding: 15px 40px;
    background-color: #fff;
    border: 2px solid black;
    font-size: 2rem;
    border-radius: 10px;
    transition: all 0.3 ease-in-out;

    &:hover,
    &:focus {
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        background-color: #D64933;
        border: 2px solid #D64933;
    }
}

.calendlyContainer {
    margin-top: 50px;

    h2 {
        margin-bottom: 30px;
    }
    
    span {
        color: black;
        font-size: 10rem;
        transition: color 0.3s ease-in-out;

        &:hover,
        &:focus {
            -webkit-transition: color 0.3s ease-in-out;
            -moz-transition: color 0.3s ease-in-out;
            -o-transition: color 0.3s ease-in-out;
            -ms-transition: color 0.3s ease-in-out;
            transition: color 0.3s ease-in-out;
            color: #D64933;
        }
    }

}