/****************************
* Nav Section Styles
****************************/

.siteTitle {
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;

    li {
        
        font-size: 1.5rem; 
        display: inline;
        
        a {
            transition: color 0.3s ease-in-out;
            padding: 15px;
            &:hover,
            &:focus {
                -webkit-transition: color 0.3s ease-in-out;
                -moz-transition: color 0.3s ease-in-out;
                -o-transition: color 0.3s ease-in-out;
                -ms-transition: color 0.3s ease-in-out;
                transition: color 0.3s ease-in-out;
                color:#D64933;
            }  
        }
    
    }
}

