.parallax {
	width: 100%;
	background-attachment: fixed;
	background-position: 50% 0;
}

/* Parallax Fix */
@media only screen and (min-width: 1930px) { .parallax { background-size: cover; } }

.parallax.black { background-color: #060606; }

.parallax.no-parallax { background-size: cover!important; background-attachment: scroll!important; background-position: center!important; }

.parallax-bg1 { background-image: url(../images/parallax-bg1.png); }
.parallax-bg2 { background-image: url(../images/parallax-bg2.png); }
.parallax-bg3 { background-image: url(../images/parallax-bg3.png); }
.parallax-bg4 { background-image: url(../images/parallax-bg4.png); }