/****************************
* SCSS Variables
****************************/

/* Color Variables */
$mainBodyTextColor: #000;
$secondaryBodyTextColor: #fff;
$aboutColor: #fff;
$skillsColor: #656D78;
$workColor: #fff;
$footerColor: #fff;

/* Font Variables */

// font weights:
// Roboto
// - Light 300
// - Regular 400
// - Bold 700
//
// Lato
// - Light 300
// - Regular 400
$headerFont: 'Roboto', 'Arial', sans-serif;
$bodyFont: 'Lato', 'Arial', sans-serif; 

