/****************************
* setup/normalize Styles
****************************/
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/****************************
* SCSS Variables
****************************/
/* Color Variables */
/* Text Colors */
/***************/
/* Background Section Colors */
/***************/
/* Font Variables */
:root {
  --primary-color: rgba(13, 110, 139, 0.75);
  --overlay-color: rgba(24, 39, 51, 0.85);
  --menu-speed: 0.75s;
}

/* web site wrapper */
.wrapper {
  max-width: 1440px;
  width: 90%;
  margin: 0 auto;
}

/* skip link for accessibility */
.skipLink {
  position: absolute;
  left: -1000px;
  top: 5px;
  z-index: 999;
  background: white;
  color: black;
}

.skipLink:focus {
  left: 0;
}

/* Set font size to 10px so we can use rems to size */
html {
  font-size: 62.5%;
}

img {
  max-width: 100%;
  min-height: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #000;
}

ul {
  list-style: none;
  font-family: "Roboto", "Arial", sans-serif;
}

ul li {
  letter-spacing: 1.4px;
}

body {
  font-family: "Lato", "Arial", sans-serif;
  color: #000;
}

h1 {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 7rem;
}

h2 {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 3.8rem;
  font-weight: 400;
}

h3 {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 3.2rem;
  font-weight: 400;
}

form {
  font-family: "Lato", "Arial", sans-serif;
  font-size: 2rem;
}

p {
  font-size: 1.7rem;
  font-family: "Lato", "Arial", sans-serif;
  font-weight: 300;
  letter-spacing: 0.8px;
  line-height: 22px;
}

/****************************
* Header Section Styles
****************************/
header {
  height: 100vh;
  background-color: #fff;
}

header .headerContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 90vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

header .headerContent h2 {
  margin-top: 40px;
}

header .headerContent p {
  margin-top: 40px;
  font-size: 2.5rem;
}

/****************************
* Nav Section Styles
****************************/
.siteTitle {
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.siteTitle li {
  font-size: 1.5rem;
  display: inline;
}

.siteTitle li a {
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
  padding: 15px;
}

.siteTitle li a:hover, .siteTitle li a:focus {
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
  color: #D64933;
}

.hamIcon {
  position: absolute;
  top: 0;
  right: 50px;
  cursor: pointer;
}

/****************************
* About Section Styles
****************************/
.aboutContainer {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 50px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.aboutContainer .aboutImage {
  width: 25%;
  border-radius: 10px;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow: 3px 3px 5px #ccc;
}

.aboutContainer .aboutImage img {
  border-radius: 10px;
}

.aboutContainer .aboutInfo {
  margin-left: 50px;
  width: 50%;
}

.aboutContainer .aboutInfo p {
  margin-top: 30px;
  padding-left: 30px;
}

/****************************
* Skills Section Styles
****************************/
.skillSet {
  background-color: #D64933;
  color: #fff;
}

.skillSet h2 {
  padding-top: 30px;
  margin-bottom: 50px;
}

.skillsIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.skillsIcons .icon {
  padding-bottom: 30px;
  text-align: center;
  margin: 2%;
  width: calc((100%/4) - 4%);
}

.skillsIcons span {
  font-size: 5rem;
  text-align: center;
}

.skillsIcons p {
  margin-top: 10px;
}

/****************************
*  Work Section Styles
****************************/
.myWork {
  background-color: #fff;
  padding-top: 30px;
}

.myWork .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 25px 0;
}

.myWork .card .portfolioImage {
  width: 100%;
  padding: 5px;
  border-radius: 10px;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow: 3px 3px 5px #ccc;
}

.myWork .card .portfolioImage img {
  border-radius: 5px;
}

.myWork .card .portfolioDescription {
  width: 100%;
  padding-left: 25px;
}

.myWork .card .portfolioDescription p {
  margin-top: 30px;
}

.myWork .card .portfolioDescription .projectLinks {
  margin-top: 30px;
}

.myWork .card .portfolioDescription .projectLinks a {
  font-size: 1.5rem;
  font-weight: 300;
  margin-right: 20px;
  border: 1px solid black;
  padding: 10px 15px;
  border-radius: 5px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.myWork .card .portfolioDescription .projectLinks a:hover, .myWork .card .portfolioDescription .projectLinks a:focus {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #D64933;
  border: 1px solid #D64933;
}

/****************************
* Contact Section Styles
****************************/
.contactMe {
  background-color: #ECECEC;
  padding: 50px 0;
}

form {
  padding: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
}

form .nameInput,
form .emailInput {
  width: calc(50% - 10px);
  border: none;
  height: 50px;
  padding: 10px;
}

form .nameInput {
  margin-right: 20px;
}

form .subjectInput,
form .messageInput {
  width: 100%;
  margin-top: 20px;
  border: none;
  padding: 10px;
}

form .messageInput {
  height: 150px;
  resize: none;
}

form input[type=text], form textarea {
  -webkit-transition: all 0.30s ease-in-out;
  transition: all 0.30s ease-in-out;
  outline: none;
}

form input[type=text]:focus, form textarea:focus {
  -webkit-box-shadow: 0 0 3px #D64933;
          box-shadow: 0 0 3px #D64933;
  border: 1px solid black;
}

.sendForm {
  padding: 15px 40px;
  background-color: #fff;
  border: 2px solid black;
  font-size: 2rem;
  border-radius: 10px;
  -webkit-transition: all 0.3 ease-in-out;
  transition: all 0.3 ease-in-out;
}

.sendForm:hover, .sendForm:focus {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #D64933;
  border: 2px solid #D64933;
}

.calendlyContainer {
  margin-top: 50px;
}

.calendlyContainer h2 {
  margin-bottom: 30px;
}

.calendlyContainer span {
  color: black;
  font-size: 10rem;
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

.calendlyContainer span:hover, .calendlyContainer span:focus {
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
  color: #D64933;
}

/****************************
* Footer Section Styles
****************************/
footer {
  background-color: #fff;
}

footer .contactContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
}

footer li {
  display: inline;
  padding: 0 20px;
  font-size: 1.5rem;
}

footer li span {
  font-size: 2rem;
}

footer p {
  text-align: center;
}

footer span,
footer a {
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

footer span:hover, footer span:focus,
footer a:hover,
footer a:focus {
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
  color: #D64933;
}

footer .footerLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer p {
  padding: 30px 0;
  font-weight: 500;
}

/****************************
* Footer Section Styles
****************************/
/* Small desktop/tablet breakpoint */
@media (max-width: 1024px) {
  h1 {
    font-size: 5.5rem;
  }
  h2 {
    font-size: 3rem;
  }
  p {
    font-size: 1.5rem;
  }
  a {
    font-size: 1.5rem;
  }
  .contactContainer a {
    padding: 0;
  }
}

/* tablet breakpoint */
@media (max-width: 768px) {
  .aboutContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .aboutContainer .aboutImage {
    width: 50%;
  }
  .aboutContainer .aboutInfo {
    padding-top: 30px;
    width: 75%;
  }
  .card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .card .portfolioImage {
    margin-bottom: 25px;
  }
  form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 30px 0;
  }
  form .nameInput,
  form .emailInput {
    width: 100%;
  }
  form .emailInput {
    margin-top: 20px;
  }
  .contactContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contactContainer .footerLinks {
    padding: 25px 0;
  }
}

/* phone breakpoint */
@media (max-width: 500px) {
  .skillsIcons .icon {
    margin: 2%;
    width: calc((100%/2) - 4%);
  }
  ul.mainMenu {
    display: none;
    background-color: #ECECEC;
    margin-top: -20px;
    padding: 20px 0;
  }
  ul.mainMenu li:not(:first-child) {
    margin-top: 30px;
  }
  .siteTitle {
    text-align: center;
  }
  .siteTitle h3 {
    margin: 0;
  }
  .siteTitle a {
    padding: 0;
  }
  .mainMenu.toggleCls {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    top: 20px;
    right: 100px;
  }
  .mainMenu.toggleCls a {
    font-size: 2rem;
  }
}

@media (min-width: 501px) {
  .hamIcon {
    display: none;
  }
  .mainMenu {
    display: initial;
  }
}
